.App {
  margin: 10px;
}
div {
  border: 3px solid blue;
  margin: 5px; padding: 5px;
  padding: 5px;
}
/*
NavLink를 통해 각 엘리먼트에 class='active'라는 속성이 부여된다.
따라서 선택한 링크에 스타일을 적용할 수 있다.
*/
.active {
  background-color: yellowgreen;
  text-decoration: none;
  font-weight: bold;
}